@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: radial-gradient(
    circle,
    rgba(230, 230, 230, 1) 0%,
    rgba(255, 240, 194, 1) 100%
  );

  
  --foreground: #171717;
}

.dark {
  --background: linear-gradient(
    168deg,
    rgb(25, 25, 25) 14%,
    rgb(120, 99, 83) 40%,
    rgb(59, 50, 40) 98%
    );
    
    --foreground: #ededed;
  }

  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 80s linear infinite;
  }
  
  body {
  background: var(--background);
  background-attachment:fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}